[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phase1PRMD"]
	path = phase1PRMD
	url = https://github.com/luzhangstat/phase1prmd
